  .nav__placement {
      box-sizing: border-box;
      z-index: 9999;
      display: block;
      position: fixed;
      top: 1rem;
      left: 50%;
      transform: translateY(0) translateX(-50%);
      width: calc(100% - 2rem);
      max-width: 400px;
      /**
      * Browser specific styles
      */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .app__bar {
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      height: 1rem;
      padding: 4px;
      margin: auto;
      border: 0;
      border-radius: 16;
      background-color: #fff;
      backdrop-filter: blur(40px) saturate(100%);
      -webkit-backdrop-filter: blur(40px) saturate(100%);
  }